# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
ENV/
env/
.venv/

# Environment variables
.env

# Database files
*.db
*.sqlite3

# VSCode settings
.vscode/

# MacOS
.DS_Store

# Pytest
.pytest_cache/
.cache/

# Logs
*.log

# Other
*.bak
